{
  "apiVersion": "v1",
  "kind": "Secret",
  "metadata": {
    "name": "trama-gateway-secrets",
    "namespace": {{ kube_namespace | to_json }}
  },
  "type": "Opaque",
  "stringData": {
    "database-url": {{ local_vault.database_url | to_json }},
    "redis-url": {{ local_vault.redis_url | to_json }},
    "nats-url": {{ local_vault.nats_url | to_json }},
    "service-account-token": {{ local_vault.gateway_service_account_token | to_json }},
    "service-account-organization": {{ local_vault.gateway_organization_id | to_json }},
    "control-plane-internal-token": {{ local_vault.control_plane_internal_token | to_json }}
  }
}
