{
  "apiVersion": "v1",
  "kind": "Secret",
  "metadata": {
    "name": "trama-postgresql-auth",
    "namespace": {{ kube_namespace | to_json }}
  },
  "type": "Opaque",
  "stringData": {
    "postgres-password": {{ local_vault.postgresql_admin_password | to_json }},
    "password": {{ local_vault.postgresql_password | to_json }}
  }
}
